.navbar {
  background-color: #f8f9fa;
  font-family: 'Arial', sans-serif;
  font-size: 1.2rem;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  color: #2bcaf1;
  text-decoration: none;
}

.navbar-brand img {
  height: 60px;
}